body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
}

.container {
  font-size: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #183b83;
}

.inputForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputField {
  padding-top: 16px;
}

.submitButton {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 5px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.labelName {
  color: darkgoldenrod;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #585858;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 5px;
  background: rgb(3, 231, 72);
  cursor: pointer;
}
.btndisabled {
  width: 100%;
  min-width: 280px;
  color: #585858;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #131414;
  border-radius: 5px;
  background: rgb(118, 117, 119);
}
